*{margin: 0; padding: 0; box-sizing: border-box;}



header{
    height: 250px;
    background-color: darksalmon;
}
main{
    background-color: darkcyan;
}
section{
background-color: darkgreen;
height: 1400px;
}

.nino{
    background-color: aquamarine;
    height: 700px;
}

.contenedor_productos{
    position: relative;
}

.contenedor_productos div{
    height: 150px;
    width: 150px;
    border: 2px solid black;
    margin: 20px 30px 50px 20px;
}


.violeta{
    background-color: blueviolet;
    position: relative;
    /*float: right;*/
    /*margin-left: auto;*/
}
.verde{
        /*position: fixed;*/
        position: sticky;
    left: 150px;
    top: 20px;
    background-color: darkolivegreen;
}
.naranja{
    background-color: coral;
}